body{
    background-color:#255b87;
}

.login .row .col-md-3{
    background-color: #e8e8e8;
    margin: 3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 30px #1a3c57;
}

.login .row .col-md-3 h3{
    margin-bottom: 2rem;
}